<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{{#urls}}
  <url>
    <loc>https://ctx.arusty.dev/{{path}}</loc>
    <lastmod>{{iso}}</lastmod>
    <changefreq>{{freq}}</changefreq>
    <priority>{{priority}}</priority>
  </url>
{{/urls}}
</urlset>
