{{! Common Changelog Compliant https://common-changelog.org/ }}
- related commit hash: {{commitHash}}
- date: {{date}}
- author: {{author}}
- branch: {{branch}}
- PR: {{prNumber}}

### Clean Up

{{#additions}}### Added{{/additions}}
{{#additions}}
- {{version}}
{{/additions}}

{{#changes}}### Changed{{/changes}}
{{#changes}}
- {{version}}
{{/changes}}

{{#deprecations}}### Deprecated{{/deprecations}}
{{#deprecations}}
- {{version}}
{{/deprecations}}

{{#removals}}### Removed{{/removals}}
{{#removals}}
- {{version}}
{{/removals}}

{{#fixes}}### Fixed{{/fixes}}
{{#fixes}}
- {{version}}
{{/fixes}}

{{#vulns}}### Security{{/vulns}}
{{#vulns}}
- {{version}}
{{/vulns}}
