# Cannot apply aws_s3_bucket_public_access_block (not given the permissions to do so)
AVD-AWS-0086
AVD-AWS-0087
AVD-AWS-0091
AVD-AWS-0093
AVD-AWS-0094

# only way to turn this off (that I've seen so far) for the buckets that don't need logging.
AVD-AWS-0089
